:root {
  /* Animaties */
  --animation-quick: 0.2s;
  --animation-default: 0.3s;

  /* Eenheden */
  --unit-deca: 10rem;
  --unit-heading: 3rem;
  --unit-large: 2rem;
  --unit-default: 1rem;
  --unit-small: 0.5rem;
  --unit-micro: 0.25rem;
  --unit-nano: 0.125rem;
  --unit-pico: 0.5px;

  /* Kleuren */
  --primary-color: hsl(29.849, 100%, 61%);
  --secundary-purple-color: hsl(220.755, 60%, 83%);
  --secundary-green-color: hsl(92.105, 85%, 74%);
  --secundary-blue-color: hsl(179.155, 75%, 81%);

  /* Schaduwen  */
  --shadow-default-cards: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
}

.is-high-contrast {
  --secundary-purple-color: hsl(275, 100%, 26%);
  --secundary-green-color: hsl(122, 100%, 18%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout */
body {
  font-family: "Unbounded", sans-serif;
  /* position: relative; */
  background: linear-gradient(90deg, #f1ffe6 0.07%, #d2ddf4 99.92%);
}

nav {
  width: 100vw;
  height: auto;
  width: 100vw;
  font-family: "Unbounded", sans-serif;
}

.logo {
  width: 250px;
}

li:first-child {
  margin-right: auto;
}

h1 {
  width: 100vw;
  height: 100%;

  color: #000;
  font-family: "Unbounded", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 53px; /* 101.361% */
  text-transform: uppercase;
}

button {
  color: white;
  background: var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 10px;
  border-style: none;
  margin-right: 1rem;

  font-family: "Unbounded", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background: hsl(29.849, 100%, 51%);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-right: 1rem;
}

@media (min-width: 900px) {
  /* Navigation */
  nav {
    width: 100vw;
    height: auto;
    width: 100vw;
    font-family: "Unbounded", sans-serif;
  }

  ul {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  li a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
  }

  li a:hover {
    color: var(--primary-color);
  }

  h1 {
    padding: 1em;
  }
}
